<p>Hi. Personal Sam is Sam Soffes' daily-ish video journal about with rambling about what he's working on, doing day to day, etc. It's more for archival purposes than anything.</p>
<p><mark>Subscribe on iTunes:</mark> <a href="https://itunes.apple.com/us/podcast/personal-sam-sd-video/id948185422" rel="external nofollow">SD</a> <a href="https://itunes.apple.com/us/podcast/personal-sam-hd-video/id948188434" rel="external nofollow">HD</a></p>
<p>Feed: <%= link_to 'SD', sd_feed_url %> <%= link_to 'HD', hd_feed_url %></p>
<p>Vimeo Channel: <a href="https://vimeo.com/channels/personalsam" rel="external nofollow">Personal Sam</a></p>

<hr>

<ol class="episodes">
<% @episodes.each do |episode| %>
  <li>
    <%= render episode %>
  </li>
<% end %>
</ol>
