<h1>Personal Sam</h1>
<h2>My daily-ish video journal</h2>
<p>Hi. Personal Sam is Sam Soffes' daily-ish video journal about with rambling about what he's working on, doing day to day, etc. It's more for archival purposes than anything.</p>
<p>Subscribe: <%= link_to 'SD', sd_feed_url %> <%= link_to 'HD', hd_feed_url %></p>
